repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: LICENSES/headers
  - id: check-added-large-files
  - id: check-toml
  - id: destroyed-symlinks
  - id: check-symlinks

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal

- repo: https://github.com/PyCQA/autoflake
  rev: v2.0.0
  hooks:
    - id: autoflake
      args: [
        --in-place,
        --remove-all-unused-imports,
      ]

- repo: https://github.com/asottile/reorder_python_imports
  rev: v3.9.0
  hooks:
  - id: reorder-python-imports
    args: [
      --application-directories,
      src,
      --py37-plus,
      --add-import,
      "from __future__ import annotations",
    ]

- repo: https://github.com/myint/docformatter
  rev: v1.5.1
  hooks:
    - id: docformatter
      exclude: ^tests/.*$
      args: [
        --in-place,
        --wrap-summaries,
        "88",
        --wrap-descriptions,
        "88",
      ]

- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py37-plus]

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-bugbear==22.12.6
      - flake8-docstrings==1.6.0
      - flake8-print==5.0.0
      - pep8-naming==0.13.2

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
    - id: mypy

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.3.1
  hooks:
    - id: insert-license
      name: insert MIT license
      files: \.py$
      args:
        - --license-filepath
        - LICENSES/headers/MIT.txt
    - id: insert-license
      name: insert CC BY license
      files: \.md$
      args:
        - --license-filepath
        - LICENSES/headers/CC-BY-4.0.txt
        - --comment-style
        - <!--|| -->
