repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: ^LICENSES/headers
  - id: check-added-large-files
  - id: check-toml
  - id: destroyed-symlinks
  - id: check-symlinks

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.8
  hooks:
    - id: ruff-check
      args: [
        --exit-non-zero-on-fix,
      ]
    - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.0
  hooks:
    - id: mypy
      exclude: ^tests|src/docstring_inheritance/griffe\.py$

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
    - id: insert-license
      name: insert MIT license
      files: \.py$
      args:
        - --license-filepath
        - LICENSES/headers/MIT.txt
    - id: insert-license
      name: insert CC BY license
      files: \.md$
      args:
        - --license-filepath
        - LICENSES/headers/CC-BY-4.0.txt
        - --comment-style
        - <!--|| -->
